
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 99vw;
  max-height: 99vh;
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
}

.btn {
  text-align: center;
  padding: .6em 1em;
  border: solid 2px #666;
  border-radius: 5px;
}
.jumbo {
  font-size: 2rem;
}
.large {
  font-size: 1.4rem;
}
.btn.jumbo {
  padding: 1em 2em;
  border-radius: 14px;
}
.red-btn {
  background: #94464e;
  border: #4b3339 solid .4rem;
}


.m-auto {
  margin: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.canvas {
  height: 100%;
  width: 100%;
  margin: auto;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
button:disabled .arrow-svg {
  display: none;
}
button:is(:hover, :focus-visible) .arrow-svg {
  opacity: 1;
}

input[type=range] {
  width: 100%;
}

input[type=checkbox] + label {
  margin-left: 1em;
}
label > input[type=checkbox] {
  margin-right: 1em;
}

input[type=checkbox], input[type=range],
input + label {
  vertical-align: middle;
}

select {
  font-size: inherit;
  padding: .5em 1em;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

