.canvas {
  font-variation-settings: normal;
  vector-effect: none;

  paint-order: markers stroke fill;
  stroke-miterlimit: 4;
  stop-color: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}
.canvas .arrow,
.canvas .tile,
.canvas .origin {
  transform-origin: 32px 32px;
}
.canvas .origin-piece {
  transform-origin: 32px 80px;
}

.canvas .tile {
  stroke-width: 6;
  fill-opacity: 1;
}

.click-through,
.click-through * {
  pointer-events: none;
}

.canvas .tile,
.anim-transform {
  /* transition: transform 400ms ease, z-index 400ms step-end; */
  transition: transform 400ms ease, opacity 400ms ease;
}

.anim-death, .anim-win {
  opacity: 0.3;
}

.canvas .dirt {
  fill: #835e59;
  stroke: #4b3339;
}

.canvas .path {
  fill: #cfa067;
  stroke: #694641;
}

.canvas .btn {
  fill: currentColor;
  fill-opacity: 0.6;
  stroke: none;
}

.canvas .btn:is(:hover, :active, :focus-visible) {
  fill-opacity: 1;
}

.canvas .btn[disabled] {
  display: none;
  fill: none;
}

.canvas .transparent {
  fill: #0000;
  stroke: none;
}

.canvas .move-btn {
  stroke: currentColor;
  stroke-width: 4px;
  fill: #0000;
}

.canvas .brown-1 {
  fill: #4b3339;
}

.canvas .blue-1 {
  fill: #1984b6;
}

.canvas .orange-1 {
  fill: #d38e15
}

.canvas .green-1 {
  fill: #7ea950;
}

.canvas .red-1 {
  fill: #94464e;
}

.canvas .red-2 {
  fill: #d96674;
}

.canvas .pink-1 {
  fill: #cc85ca;
}
.canvas .white-1 {
  fill:#cfd6d0;
}

.canvas .gray-1 {
  fill:#9bafc2;
}


